/* 头部导航条样式 */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: inherit;
	border-bottom: 1px solid #ccc;
	color: inherit;
	z-index: 100;
}
.container{position: relative;}
.title{position: absolute;left: 0;width: 15%;}
.title p{margin:10px 0 0 15px;font-size: 28px;}
.middle{position: absolute;left: 15%;width: 55%;}
.middle p{font-size: 20px;width: 15%;position: absolute;top: 15px}
.middle input{
	border-radius: 20px;
	border:none;
	background-color: #e6e6fa;
	position: absolute;
	left: 15%;
	top: 15px;
	padding-left: 10px;
	/*color: #4CAF50;*/
}
.middle img{position: absolute;width: 15px;height: 15px;left: 36%;top: 22px;}
.tail{position: absolute;left: 70%;width: 30%;text-align: center;font-size: 18px;}
.tail .skin,.tail .login,.tail .register,.tail .write{position: absolute;width: 15%;margin-top: 18px}
.tail .login{left: 18%}
.tail .register, .tail .write{
	border-radius:20px;
	border:1px solid #4CAF50;
	padding: 5px;
	margin-top: 13px;
}
.tail .register{width: 20%;left: 40%}
.tail .write{width: 25%;left: 65%;background-color: #4CAF50;color: #fff;}

/* 轮播图样式 */
.swiperBox{
	margin-top: 65px;
	width: 60%;
	margin-left: 20%;
	height:300px;
}
.swiperBox .swiper-container{width: 100%;height: 100%;border-radius: 10px}
.swiperBox .swiper-container img{width: 100%;height: 100%}

/* 换肤 */
.skin:hover, .headimg:hover{cursor: pointer;}
.skinList{width: 300px;height: 100px;position: absolute;top: 40px;left:-250px;background-color: #C4E1FF;padding-top: 10px}
.skinList:before, .skinList:after, .dropdown-menu:before, .dropdown-menu:after{
	position: absolute;
    top: -10px;
    left: 86%;
    content: "";
    display: inline-block;
    border: 20px solid transparent;
    border-top: none;
    z-index: 101
}
.skinList:after{top: -15px;border-bottom: 30px solid #C4E1FF}
.skinList ul{margin-top: 10px;}
.skinList ul li{float: left;margin-left: 47.5px;font-size: 14px;text-align: center;}
.skinList ul li span{margin-left: -12.5px}
.circle{
	border-radius: 100%;
	width: 20px;
	height: 20px;
	background-color: #fff
}
.white-bg{background-color: #fff}
.dark-bg{background-color: #3f3f3f}
.grey-bg{background-color:#95a5a6}

/* 登陆成功后头像样式 */
.userMsg{position: absolute;left: 25%;top:10px;font-size: 16px;}
.userMsg .headimg{border-radius: 100%;width: 45px;height: 45px;}
.userMsg .headimg img{width: 100%;height: 100%;}
.userMsg p{font-size: 14px;position: absolute;top: 20px;left: 60px;width: 100%}
/* 下拉列表 */
.dropdown-menu{
	position: absolute;
	z-index: 101;
	top: 60px;
	left: 0;
	background-color: #C4E1FF;
	width: 150px;
}
.dropdown-menu:after{top: -15px;border-bottom: 30px solid #C4E1FF;left: 0}
.dropdown-menu li{
	line-height: 30px;
}
/* 列表样式 */
.list-container{
	width: 50%;
	margin: 0 auto;
}
.list-box{
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 25px; 
}
.list-box .content>div{
	margin: 10px 0;
}
.list-container>h1{
	background: rgba(76, 175, 80, 0.74);
    color: white;
    width: 27%;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0;
}
.date::before{
   content: '发表时间 '
}
.views::before{
	content: '　　阅读次数 '
 }
.author{
	color: #2f2f2f;
}
.article_title{
	color: #333;
    font-size: 18px;
    font-weight: 700;
	line-height: 1.5;
}
.article_title:hover{
	text-decoration: underline;
}
.article_title:visited{
	color: #969696;
}
.abstract{
	font-size: 13px;
    line-height: 24px;
    color: #333;
}
.date,.views{
	  color: #b4b4b4;
	  font-size: 12px;
	  font-weight: 400;
	  line-height: 20px;
	  cursor: inherit;
}